.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    &__label {
        margin-top: 1.25rem;
        font-family: 'DM Sans', sans-serif;
        font-size: .9rem;
        font-weight: 700;
        line-height: 1.125rem;
        color: var(--c-rich-black);

        &::first-letter {
            text-transform: capitalize;
        }
    }

    &__input {
        width: 100%;

        &:not(.input--checkbox) {
            margin-top: .75rem;
        }
    }

    &__submit {
        margin-top: 1.25rem;
    }
}
