.link {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-size: .9rem;
    font-weight: 700;
    line-height: 1.35rem;
    color: var(--c-tone-dark);
    text-decoration: none;
    border-bottom: 3px solid var(--c-tone-dark);

    &:hover,
    &:visited,
    &:active {
        color: var(--c-accent);
        border-color: var(--c-accent);
    }
}
