.home {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(113deg, var(--c-cyclamen) 0%, var(--c-deep-champagne) 100%);
    background-image: url('../img/site-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
